In [219]:
import pandas as pd
import numpy as np

In [246]:
#transforming census data
df = pd.read_csv('C:/csc502/Data_Visualizations/Census/acs2017_county_data.csv')
result_df.head()

            TotalPop    Poverty
State
Alabama      4850771  20.949254
Alaska        738565  13.555172
Arizona      6809946  20.193333
Arkansas     2977944  20.421333
California  38982847  15.737931

In [221]:
new_df = df.dropna(subset=['CountyId'])

In [222]:
#summing the state population and finding the poverty mean for each state.
result_df = new_df.groupby('State').agg({'TotalPop':'sum', 'Poverty':'mean'})

In [223]:
result_df[['TotalPop']].to_csv('C:\\csc502\\Data_Visualizations\\Census\\updated\\TotalPop.csv')

In [224]:
result_df[['Poverty']].to_csv('C:\\csc502\\Data_Visualizations\\Census\\updated\\poverty.csv')

In [245]:
result_df.head()

            TotalPop    Poverty
State
Alabama      4850771  20.949254
Alaska        738565  13.555172
Arizona      6809946  20.193333
Arkansas     2977944  20.421333
California  38982847  15.737931

In [225]:
laptops_df = pd.read_csv('C:\csc502\Data_Visualizations\Parallel_Coordinates\ParallelCo_Laptopcs_Kaggle.csv', encoding = "ISO-8859-1", index_col="Index")
laptops.head()

,Company,Product,Inches,Price_euros,SSD_Memory(GB),HDD_Memory(GB),Ram(GB),ScreenResolution(pixels),CPU_Type,CPU_Frequency(GHz),GPU_Type
Index,,,,,,,,,,,
1,Apple,MacBook Pro,13.3,1339.69,128,0,8,2560x1600,Intel Core,2.3,Intel Iris
3,HP,250 G6,15.6,575.00,256,0,8,1920x1080,Intel Core,2.5,Intel HD
4,Apple,MacBook Pro,15.4,2537.45,512,0,16,2880x1800,Intel Core,2.7,AMD Radeon
5,Apple,MacBook Pro,13.3,1803.60,256,0,8,2560x1600,Intel Core,3.1,Intel Iris
6,Acer,Aspire 3,15.6,400.00,0,500,4,1366x768,AMD A9-Series,3,AMD Radeon

In [226]:
# Get unique values for the company name
companies = laptops_df['Company'].unique()
companies

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft', 'Toshiba', 'Huawei', 'Xiaomi', 'Vero', 'Razer',
       'Mediacom', 'Samsung', 'Google', 'Fujitsu', 'LG'], dtype=object)

In [227]:
#deleting rows where memory column contains FLash
laptops_df = laptops_df[~laptops_df.Memory.str.contains('Flash')].copy()

In [228]:
#funtion to split SSD and HDD and convert TB to HB
def convert_memory_SSD(x):
    tokens = str(x).split()  # split the string
    if tokens[1] == 'SSD':
        memory = tokens[0]
        if memory[-2:] == 'TB':
            return str(float(memory[:-2]) * 1024)
        else:
            return memory[:-2]
    else:
        return '0'

In [229]:
# apply the function to each entry in the "Memory" column
laptops_df['SSD_Memory(GB)'] = laptops_df['Memory'].apply(convert_memory_SSD)

In [230]:
#method to split HDD memory and add a new column HDD memory and convert to GB
def convert_memory_HDD(x):
    tokens = str(x).split()
    if len(tokens) > 2:
        if tokens[2] == '+': # if it contains SSD and HDD
            memory = tokens[3]  # convert from TB to GB
            if memory[-2:] == 'TB':
                return str(float(memory[:-2]) * 1024)
            else:
                return memory[:-2]
        else:
            return '0'
    else:  # if it contains only HDD
        if tokens[1] == 'HDD':
            memory = tokens[0]  # convert from TB to GB
            if memory[-2:] == 'TB':
                return str(float(memory[:-2]) * 1024)
            else:
                return memory[:-2]
        else:
            return '0'

In [231]:
laptops_df['HDD_Memory(GB)'] = laptops_df['Memory'].apply(convert_memory_HDD)

In [232]:
del laptops_df['Memory']

In [234]:
laptops_df['Weight'].str[-2:].unique()
laptops_df['Weight(kg)'] = laptops_df['Weight'].apply(lambda x: str(x)[:-2])
del laptops_df['Weight']

In [235]:
laptops_df['Ram'].str[-2:].unique()
laptops_df['Ram(GB)'] = laptops_df['Ram'].apply(lambda x: str(x)[:-2])
del laptops_df['Ram']

In [236]:
# Remove the first few words for each entry in the column named "ScreenResolution"
laptops_df['ScreenResolution(pixels)'] = laptops_df['ScreenResolution'].apply(lambda x: str(x).split()[-1])
del laptops_df['ScreenResolution']

In [238]:
def cpu_type(x):
    tokens = str(x).split()
    cpuType = tokens[:-1]
    if cpuType[0] == 'Intel':
        if len(cpuType) > 3:
            return ' '.join(cpuType[:3])
        else:
            return ' '.join(cpuType)
    elif cpuType[0] == 'AMD':
        if len(cpuType) > 2:
            return ' '.join(cpuType[:2])
        else:
            return ' '.join(cpuType)
    else:
        return ' '.join(cpuType)

laptops_df['CPU_Type'] = laptops_df['Cpu'].apply(lambda x: ' '.join(str(x).split()[:2]))

In [239]:
laptops_df['CPU_Frequency(GHz)'] = laptops_df['Cpu'].apply(lambda x: str(x).split()[-1][:-3])
del laptops_df['Cpu']

In [241]:
laptops_df['GPU_Type'] = laptops_df['Gpu'].apply(lambda x: ' '.join(str(x).split()[:2]))
del laptops_df['Gpu']
del laptops_df['TypeName']
del laptops_df['OpSys']
del laptops_df['Weight(kg)']

In [242]:
laptops_df.head()

,Company,Product,Inches,Price_euros,SSD_Memory(GB),HDD_Memory(GB),Ram(GB),ScreenResolution(pixels),CPU_Type,CPU_Frequency(GHz),GPU_Type
Index,,,,,,,,,,,
1,Apple,MacBook Pro,13.3,1339.69,128,0,8,2560x1600,Intel Core,2.3,Intel Iris
3,HP,250 G6,15.6,575.00,256,0,8,1920x1080,Intel Core,2.5,Intel HD
4,Apple,MacBook Pro,15.4,2537.45,512,0,16,2880x1800,Intel Core,2.7,AMD Radeon
5,Apple,MacBook Pro,13.3,1803.60,256,0,8,2560x1600,Intel Core,3.1,Intel Iris
6,Acer,Aspire 3,15.6,400.00,0,500,4,1366x768,AMD A9-Series,3,AMD Radeon

In [243]:
#laptops.head()
# write the cleaned dataset in a .csv file
laptops_df.to_csv('C:\csc502\Data_Visualizations\Parallel_Coordinates\ParallelCo_updated.csv')